---
layout: default
---

<!-- <header class="masthead clearfix">
      <div class="container">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
      </div>
</header> -->

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <span> {{ post.date | date: " %B %e, %Y" }}</span> |
      <span>
	  {% for tag in post.tags %}
	    {% capture tag_name %}{{ tag }}{% endcapture %}
      <a class="post-tag" href="/tags/{{ tag_name }}">#{{ tag_name }}</a>
	  {% endfor %}
	 </span>

      <div class="entry">
        {{ post.excerpt }}
<!--        [<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read</a>]-->
      </div>
    </article>
  {% endfor %}
</div>

{% include pagination.html %}