---
layout: default
---

<article class="post">
  <div class="post-title-wrapper">
    <h1 class="post-title">{{ page.title }}</h1>

    <span class="date"> Written on {{ page.date | date: "%B %e, %Y" }}
    </span> |
    <span>
      {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a class="post-tag" href="/tags#{{ tag_name }}">#{{ tag_name }}</a>
      {% endfor %}
     </span>
 </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
